<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IClientEventService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ModbusIntegrationServer"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IClientEventService"
                contract="ClientServiceReference.IClientEventService" name="NetNamedPipeBinding_IClientEventService">
                <identity>
                    <userPrincipalName value="ASh-PC\ASh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>